header {
	text-align: center;
	background-color: green;
	font-size: 40px;
}

li {
	list-style-type: none;
	font-size:15px;
	display: inline;
}

.homepage-photo img {
	background-image: url('http://i.imgur.com/ueIlCsJ.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}