<div id="top-10">
	<p>Worst 10 Movies</p><br>
	<%# if @movies %>
	<div id="each-movie">
		<% @movies.each do |movie| %>
			<p><a href="/movie/<%= movie.id%>"><%= movie.title %></a></p>
		<% end %>
	<%# end %>
	</div>
</div>

<div id="slideshow">
	
	<figure class="show">
		<img src="http://cinemassacre.com/wp-content/uploads/2007/05/spiderman3.jpg" alt="" width="100%">
		<figcaption>Spiderman 3</figcaption>
	</figure>

	<figure class="show">
		<img src="http://ia.media-imdb.com/images/M/MV5BNzcyMjExNjg3OF5BMl5BanBnXkFtZTgwOTY4Mjc1MDE@._V1_SX640_SY720_.jpg" alt="" width="100%">
		<figcaption>Showgirls</figcaption>
	</figure>

	<figure class="show">
		<img src="http://content7.flixster.com/movie/11/15/35/11153537_det.jpg" alt="" width="100%">
		<figcaption>The Proposal</figcaption>
	</figure>


	<span class="prev"><<</span>
	<span class="next">>></span>
</div>

<div id="certified-fresh">
</div>