<div id="top-10">
	<p>Worst 10 Movies</p><br>
	<%# if @movies %>
		<% @movies.each do |movie| %>
			<p><a href="/movie/<%= movie.id%>"><%= movie.title %></a></p>
		<% end %>
	<%# end %>
</div>

<div id="slideshow">
	<a href="http://themarklee.com/2013/12/26/simple-diy-responsive-slideshow-made-html5-css3-javascript/">How to create slideshows</a>
</div>

<div id="certified-fresh">
</div>