<!-- <div id="homepage-photo">
 NEED TO WORK ON EXPANDING THE PHOTO TO TAKE UP ALL THE BACKGROUND SPACE OTHER THAN TH E HEADER--> 	<img src="http://i.imgur.com/ueIlCsJ.jpg" title="Tommy Wiseau" style="background-size:100% 100%" />
	<p>Where you can always find sub-standard, mediocre films.</p>
<!-- </div> -->