<div background="http://i.imgur.com/ueIlCsJ.jpg" class="homepage-photo">
	<img class="homepage-photo" src="http://i.imgur.com/ueIlCsJ.jpg" title="Tommy Wiseau" />
	<p>Where you can always find sub-standard, mediocre films.</p>
</div>