<div id="homepage-photo-container" style="background-image: url(http://i.imgur.com/ueIlCsJ.jpg); height">
	<img id="photo" src="http://i.imgur.com/ueIlCsJ.jpg" title="Tommy Wiseau">
	<h2 id="text-over-photo">Where you can always find sub-standard, mediocre films.</h2>
</div>