<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="shortcut icon" href="http://www.favicongenerator.com/favicon2/brave-potato-test1-20140930-favicon.ico">

  <title>Rotten Potatoes</title>
</head>
<body>
  <header>
  <a href="/">Rotten Potatoes</a>
  <nav>
    <ul>
    <% if session[:user_id] %>
      <a href="/user/<%= session[:user_id] %>/profile"><li>Hello, user</li></a>
      <a href="/user/<%= session[:user_id]%>"><li>Movies</li></a>
      <a href="/logout"><li>Logout</li></a>
    <% else %>
      <a href="/session"><li>Sign in</li></a>
      <a href="/user"><li>New Account</li></a>
    <% end %>
  </ul>
</nav>

  </header>

  <%= yield %>
</body>
</html>
