<div id="movie-title">
	<%= @movie.title %>
</div>

<div id="movie-poster">
	<img src="<%= @movie.poster_url%>" alt="movie poster">
</div>

<div id="movie-potatometer">
	Potatometer: <%= @movie.potatometer %>
</div>

<div id="movie-synopsis">
	Synopsis: <%= @movie.synopsis %>
</div>

<div id="movie-actors">
</div>